<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Code</key>
		<string>ae</string>
		<key>Country</key>
		<string>United Arab Emirates</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ag</string>
		<key>Country</key>
		<string>Antigua and Barbuda</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ai</string>
		<key>Country</key>
		<string>Anguilla</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>am</string>
		<key>Country</key>
		<string>Armenia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ar</string>
		<key>Country</key>
		<string>Argentina</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>at</string>
		<key>Country</key>
		<string>Austria</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>au</string>
		<key>Country</key>
		<string>Australia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>az</string>
		<key>Country</key>
		<string>Azerbaijan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bb</string>
		<key>Country</key>
		<string>Barbados</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>be</string>
		<key>Country</key>
		<string>Belgium</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bf</string>
		<key>Country</key>
		<string>Burkina-Faso</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bg</string>
		<key>Country</key>
		<string>Bulgaria</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bh</string>
		<key>Country</key>
		<string>Bahrain</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bm</string>
		<key>Country</key>
		<string>Bermuda</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bn</string>
		<key>Country</key>
		<string>Brunei Darussalam</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bo</string>
		<key>Country</key>
		<string>Bolivia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>br</string>
		<key>Country</key>
		<string>Brazil</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bs</string>
		<key>Country</key>
		<string>Bahamas</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bt</string>
		<key>Country</key>
		<string>Bhutan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bw</string>
		<key>Country</key>
		<string>Botswana</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>by</string>
		<key>Country</key>
		<string>Belarus</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>bz</string>
		<key>Country</key>
		<string>Belize</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ca</string>
		<key>Country</key>
		<string>Canada</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cg</string>
		<key>Country</key>
		<string>Democratic Republic of the Congo</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ch</string>
		<key>Country</key>
		<string>Switzerland</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cl</string>
		<key>Country</key>
		<string>Chile</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cn</string>
		<key>Country</key>
		<string>China</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>co</string>
		<key>Country</key>
		<string>Colombia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cr</string>
		<key>Country</key>
		<string>Costa Rica</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cv</string>
		<key>Country</key>
		<string>Cape Verde</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cy</string>
		<key>Country</key>
		<string>Cyprus</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>cz</string>
		<key>Country</key>
		<string>Czech Republic</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>de</string>
		<key>Country</key>
		<string>Germany</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>dk</string>
		<key>Country</key>
		<string>Denmark</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>dm</string>
		<key>Country</key>
		<string>Dominica</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>do</string>
		<key>Country</key>
		<string>Dominican Republic</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ec</string>
		<key>Country</key>
		<string>Ecuador</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ee</string>
		<key>Country</key>
		<string>Estonia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>eg</string>
		<key>Country</key>
		<string>Egypt</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>es</string>
		<key>Country</key>
		<string>Spain</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>fi</string>
		<key>Country</key>
		<string>Finland</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>fj</string>
		<key>Country</key>
		<string>Fiji</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>fm</string>
		<key>Country</key>
		<string>Federated States of Micronesia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>fr</string>
		<key>Country</key>
		<string>France</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gb</string>
		<key>Country</key>
		<string>Great Britain</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gd</string>
		<key>Country</key>
		<string>Grenada</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gh</string>
		<key>Country</key>
		<string>Ghana</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gm</string>
		<key>Country</key>
		<string>Gambia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gr</string>
		<key>Country</key>
		<string>Greece</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gt</string>
		<key>Country</key>
		<string>Guatemala</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gw</string>
		<key>Country</key>
		<string>Guinea Bissau</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>gy</string>
		<key>Country</key>
		<string>Guyana</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>hk</string>
		<key>Country</key>
		<string>Hong Kong</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>hn</string>
		<key>Country</key>
		<string>Honduras</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>hr</string>
		<key>Country</key>
		<string>Croatia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>hu</string>
		<key>Country</key>
		<string>Hungaria</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>id</string>
		<key>Country</key>
		<string>Indonesia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ie</string>
		<key>Country</key>
		<string>Ireland</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>il</string>
		<key>Country</key>
		<string>Israel</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>in</string>
		<key>Country</key>
		<string>India</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>is</string>
		<key>Country</key>
		<string>Iceland</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>it</string>
		<key>Country</key>
		<string>Italy</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>jm</string>
		<key>Country</key>
		<string>Jamaica</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>jo</string>
		<key>Country</key>
		<string>Jordan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>jp</string>
		<key>Country</key>
		<string>Japan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ke</string>
		<key>Country</key>
		<string>Kenya</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>kg</string>
		<key>Country</key>
		<string>Krygyzstan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>kh</string>
		<key>Country</key>
		<string>Cambodia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>kn</string>
		<key>Country</key>
		<string>Saint Kitts and Nevis</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>kr</string>
		<key>Country</key>
		<string>South Korea</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>kw</string>
		<key>Country</key>
		<string>Kuwait</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ky</string>
		<key>Country</key>
		<string>Cayman Islands</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>kz</string>
		<key>Country</key>
		<string>Kazakhstan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>la</string>
		<key>Country</key>
		<string>Laos</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>lb</string>
		<key>Country</key>
		<string>Lebanon</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>lc</string>
		<key>Country</key>
		<string>Saint Lucia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>lu</string>
		<key>Country</key>
		<string>Luxembourg</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>md</string>
		<key>Country</key>
		<string>Moldova</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mg</string>
		<key>Country</key>
		<string>Madagascar</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mk</string>
		<key>Country</key>
		<string>Macedonia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ml</string>
		<key>Country</key>
		<string>Mali</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mn</string>
		<key>Country</key>
		<string>Mongolia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mo</string>
		<key>Country</key>
		<string>Macau</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mt</string>
		<key>Country</key>
		<string>Malta</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mu</string>
		<key>Country</key>
		<string>Mauritius</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mx</string>
		<key>Country</key>
		<string>Mexico</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>my</string>
		<key>Country</key>
		<string>Malaysia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>mz</string>
		<key>Country</key>
		<string>Mozambique</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>na</string>
		<key>Country</key>
		<string>Namibia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ne</string>
		<key>Country</key>
		<string>Niger</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ng</string>
		<key>Country</key>
		<string>Nigeria</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ni</string>
		<key>Country</key>
		<string>Nicaragua</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>nl</string>
		<key>Country</key>
		<string>Netherlands</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>np</string>
		<key>Country</key>
		<string>Nepal</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>no</string>
		<key>Country</key>
		<string>Norway</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>nz</string>
		<key>Country</key>
		<string>New Zealand</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>om</string>
		<key>Country</key>
		<string>Oman</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>pa</string>
		<key>Country</key>
		<string>Panama</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>pe</string>
		<key>Country</key>
		<string>Peru</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>pg</string>
		<key>Country</key>
		<string>Papua New Guinea</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ph</string>
		<key>Country</key>
		<string>Philippines</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>pl</string>
		<key>Country</key>
		<string>Poland</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>pt</string>
		<key>Country</key>
		<string>Portugal</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>py</string>
		<key>Country</key>
		<string>Paraguay</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>qa</string>
		<key>Country</key>
		<string>Qatar</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ro</string>
		<key>Country</key>
		<string>Romania</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ru</string>
		<key>Country</key>
		<string>Russia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>sa</string>
		<key>Country</key>
		<string>Saudi Arabia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>se</string>
		<key>Country</key>
		<string>Sweden</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>sg</string>
		<key>Country</key>
		<string>Singapore</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>si</string>
		<key>Country</key>
		<string>Slovenia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>sk</string>
		<key>Country</key>
		<string>Slovakia</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>sv</string>
		<key>Country</key>
		<string>El Salvador</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>sz</string>
		<key>Country</key>
		<string>Swaziland</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>th</string>
		<key>Country</key>
		<string>Thailand</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>tj</string>
		<key>Country</key>
		<string>Tajikistan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>tm</string>
		<key>Country</key>
		<string>Turkmenistan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>tr</string>
		<key>Country</key>
		<string>Turkey</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>tt</string>
		<key>Country</key>
		<string>Republic of Trinidad and Tobago</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>tw</string>
		<key>Country</key>
		<string>Taiwan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ua</string>
		<key>Country</key>
		<string>Ukraine</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ug</string>
		<key>Country</key>
		<string>Uganda</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>us</string>
		<key>Country</key>
		<string>United States of America</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>uz</string>
		<key>Country</key>
		<string>Uzbekistan</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>ve</string>
		<key>Country</key>
		<string>Venezuela</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>vg</string>
		<key>Country</key>
		<string>British Virgin Islands</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>vn</string>
		<key>Country</key>
		<string>Vietnam</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>za</string>
		<key>Country</key>
		<string>South Africa</string>
	</dict>
	<dict>
		<key>Code</key>
		<string>zw</string>
		<key>Country</key>
		<string>Zimbabwe</string>
	</dict>
</array>
</plist>
